
// ICON 
  .IconCatalogActivel54 {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 54px;
    height: 54px;
  }
  .IconCatalogHover54 {
    background-image: url(../img/sprite.png);
    background-position: 0px -54px;
    width: 54px;
    height: 54px;
  }
  .IconCatalogNormal54 {
    background-image: url(../img/sprite.png);
    background-position: -54px 0px;
    width: 54px;
    height: 54px;
  }
  .IconCreateGroupActive50 {
    background-image: url(../img/sprite.png);
    background-position: -100px -212px;
    width: 50px;
    height: 50px;
  }
  .IconCreateGroupHover50 {
    background-image: url(../img/sprite.png);
    background-position: -150px -212px;
    width: 50px;
    height: 50px;
  }
  .IconCreateGroupNormal50 {
    background-image: url(../img/sprite.png);
    background-position: -200px -212px;
    width: 50px;
    height: 50px;
  }
  .IconCreateGroupNotActive50 {
    background-image: url(../img/sprite.png);
    background-position: -50px -262px;
    width: 50px;
    height: 50px;
  }
  .IconCreateServiceActive50 {
    background-image: url(../img/sprite.png);
    background-position: -100px -262px;
    width: 50px;
    height: 50px;
  }
  .IconCreateServiceHover50 {
    background-image: url(../img/sprite.png);
    background-position: -150px -262px;
    width: 50px;
    height: 50px;
  }
  .IconCreateServiceNormal50 {
    background-image: url(../img/sprite.png);
    background-position: -162px 0px;
    width: 50px;
    height: 50px;
  }
  .IconCreateServiceNotActive50 {
    background-image: url(../img/sprite.png);
    background-position: -162px -50px;
    width: 50px;
    height: 50px;
  }
  .IconDeleteActive50 {
    background-image: url(../img/sprite.png);
    background-position: -162px -100px;
    width: 50px;
    height: 50px;
  }
  .IconDeleteHover50 {
    background-image: url(../img/sprite.png);
    background-position: 0px -162px;
    width: 50px;
    height: 50px;
  }
  .IconDeleteNormal50 {
    background-image: url(../img/sprite.png);
    background-position: -50px -162px;
    width: 50px;
    height: 50px;
  }
  .IconDeleteNotActive50 {
    background-image: url(../img/sprite.png);
    background-position: -100px -162px;
    width: 50px;
    height: 50px;
  }
  .IconEditActive50 {
    background-image: url(../img/sprite.png);
    background-position: -150px -162px;
    width: 50px;
    height: 50px;
  }
  .IconEditHover50 {
    background-image: url(../img/sprite.png);
    background-position: -212px 0px;
    width: 50px;
    height: 50px;
  }
  .IconEditNormal50 {
    background-image: url(../img/sprite.png);
    background-position: -212px -50px;
    width: 50px;
    height: 50px;
  }
  .IconEditNotActive50 {
    background-image: url(../img/sprite.png);
    background-position: -212px -100px;
    width: 50px;
    height: 50px;
  }
  .IconFlatTableActive50 {
    background-image: url(../img/sprite.png);
    background-position: -212px -150px;
    width: 50px;
    height: 50px;
  }
  .IconFlatTableHover50 {
    background-image: url(../img/sprite.png);
    background-position: 0px -212px;
    width: 50px;
    height: 50px;
  }
  .IconFlatTableNormal50 {
    background-image: url(../img/sprite.png);
    background-position: -50px -212px;
    width: 50px;
    height: 50px;
  }
  .IconHandbookActive54 {
    background-image: url(../img/sprite.png);
    background-position: -54px -54px;
    width: 54px;
    height: 54px;
  }
  .IconHandbookHover54 {
    background-image: url(../img/sprite.png);
    background-position: -108px 0px;
    width: 54px;
    height: 54px;
  }
  .IconHandbookNormal54 {
    background-image: url(../img/sprite.png);
    background-position: -108px -54px;
    width: 54px;
    height: 54px;
  }
  .IconHierarchyActive50 {
    background-image: url(../img/sprite.png);
    background-position: -262px 0px;
    width: 50px;
    height: 50px;
  }
  .IconHierarchyHover50 {
    background-image: url(../img/sprite.png);
    background-position: -262px -50px;
    width: 50px;
    height: 50px;
  }
  .IconHierarchyNormal50 {
    background-image: url(../img/sprite.png);
    background-position: -262px -100px;
    width: 50px;
    height: 50px;
  }
  .IconHistoryActive30 {
    background-image: url(../img/sprite.png);
    background-position: -312px 0px;
    width: 30px;
    height: 30px;
  }
  .IconHistoryHover30 {
    background-image: url(../img/sprite.png);
    background-position: -280px -262px;
    width: 30px;
    height: 30px;
  }
  .IconHistoryNormal30 {
    background-image: url(../img/sprite.png);
    background-position: -250px -262px;
    width: 30px;
    height: 30px;
  }
  .IconMetamodelActive54 {
    background-image: url(../img/sprite.png);
    background-position: 0px -108px;
    width: 54px;
    height: 54px;
  }
  .IconMetamodelHover54 {
    background-image: url(../img/sprite.png);
    background-position: -54px -108px;
    width: 54px;
    height: 54px;
  }
  .IconMetamodelNorma54 {
    background-image: url(../img/sprite.png);
    background-position: -108px -108px;
    width: 54px;
    height: 54px;
  }
  .IconPrintActive50 {
    background-image: url(../img/sprite.png);
    background-position: -200px -262px;
    width: 50px;
    height: 50px;
  }
  .IconPrintHover50 {
    background-image: url(../img/sprite.png);
    background-position: 0px -262px;
    width: 50px;
    height: 50px;
  }
  .IconPrintNormal50 {
    background-image: url(../img/sprite.png);
    background-position: -262px -200px;
    width: 50px;
    height: 50px;
  }
  .IconPrintNotActive50 {
    background-image: url(../img/sprite.png);
    background-position: -262px -150px;
    width: 50px;
    height: 50px;
  }
  .IconSuggestionActive30 {
    background-image: url(../img/sprite.png);
    background-position: -312px -30px;
    width: 30px;
    height: 30px;
  }
  .IconSuggestionHover30 {
    background-image: url(../img/sprite.png);
    background-position: -312px -60px;
    width: 30px;
    height: 30px;
  }
  .IconSuggestionNormal30 {
    background-image: url(../img/sprite.png);
    background-position: -312px -90px;
    width: 30px;
    height: 30px;
  }
// ICON END


//ICON METAMODEL

  .IconBoldActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: 0px -160px;
    width: 30px;
    height: 30px;
  }
  .IconBoldHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -90px -160px;
    width: 30px;
    height: 30px;
  }
  .IconBoldNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -30px -160px;
    width: 30px;
    height: 30px;
  }
  .IconColorLineActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -60px -160px;
    width: 30px;
    height: 30px;
  }
  .IconColorLineHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -240px -180px;
    width: 30px;
    height: 30px;
  }
  .IconColorLineNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: 0px -220px;
    width: 30px;
    height: 30px;
  }
  .IconColorTextActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -30px -220px;
    width: 30px;
    height: 30px;
  }
  .IconColorTextHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -30px -100px;
    width: 30px;
    height: 30px;
  }
  .IconColorTextNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -60px -100px;
    width: 30px;
    height: 30px;
  }
  .IconConnectingLineActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -90px -100px;
    width: 30px;
    height: 30px;
  }
  .IconConnectingLineHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -120px -100px;
    width: 30px;
    height: 30px;
  }
  .IconConnectingLineNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -150px 0px;
    width: 30px;
    height: 30px;
  }
  .IconCopy30 {
    background-image: url(../img/sprite-1.png);
    background-position: -150px -30px;
    width: 30px;
    height: 30px;
  }
  .IconCopyActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -150px -60px;
    width: 30px;
    height: 30px;
  }
  .IconCursiveActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -150px -90px;
    width: 30px;
    height: 30px;
  }
  .IconCursiveHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: 0px -130px;
    width: 30px;
    height: 30px;
  }
  .IconCursiveNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -30px -130px;
    width: 30px;
    height: 30px;
  }
  .IconCut30 {
    background-image: url(../img/sprite-1.png);
    background-position: -60px -130px;
    width: 30px;
    height: 30px;
  }
  .IconCutActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -90px -130px;
    width: 30px;
    height: 30px;
  }
  .IconCutHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -120px -130px;
    width: 30px;
    height: 30px;
  }
  .IconFigureActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -150px -130px;
    width: 30px;
    height: 30px;
  }
  .IconFigureHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -180px 0px;
    width: 30px;
    height: 30px;
  }
  .IconFigureNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -180px -30px;
    width: 30px;
    height: 30px;
  }
  .IconFillActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -180px -60px;
    width: 30px;
    height: 30px;
  }
  .IconFillHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -180px -90px;
    width: 30px;
    height: 30px;
  }
  .IconFillNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -180px -120px;
    width: 30px;
    height: 30px;
  }
  .IconOneColumn50 {
    background-image: url(../img/sprite-1.png);
    background-position: 0px 0px;
    width: 50px;
    height: 50px;
  }
  .IconOneColumnActive50 {
    background-image: url(../img/sprite-1.png);
    background-position: -50px 0px;
    width: 50px;
    height: 50px;
  }
  .IconOneColumnHover50 {
    background-image: url(../img/sprite-1.png);
    background-position: 0px -50px;
    width: 50px;
    height: 50px;
  }
  .IconPaste30 {
    background-image: url(../img/sprite-1.png);
    background-position: 0px -100px;
    width: 30px;
    height: 30px;
  }
  .IconPasteActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -120px -160px;
    width: 30px;
    height: 30px;
  }
  .IconPasteHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -150px -160px;
    width: 30px;
    height: 30px;
  }
  .IconTextActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -180px -160px;
    width: 30px;
    height: 30px;
  }
  .IconTextBottomActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -210px 0px;
    width: 30px;
    height: 30px;
  }
  .IconTextBottomHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -210px -30px;
    width: 30px;
    height: 30px;
  }
  .IconTextBottomNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -210px -60px;
    width: 30px;
    height: 30px;
  }
  .IconTextCenterActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -210px -90px;
    width: 30px;
    height: 30px;
  }
  .IconTextCenterHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -210px -120px;
    width: 30px;
    height: 30px;
  }
  .IconTextCenterNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -210px -150px;
    width: 30px;
    height: 30px;
  }
  .IconTextHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: 0px -190px;
    width: 30px;
    height: 30px;
  }
  .IconTextLeftActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -30px -190px;
    width: 30px;
    height: 30px;
  }
  .IconTextLeftHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -60px -190px;
    width: 30px;
    height: 30px;
  }
  .IconTextLeftNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -90px -190px;
    width: 30px;
    height: 30px;
  }
  .IconTextMiddleActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -120px -190px;
    width: 30px;
    height: 30px;
  }
  .IconTextMiddleHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -150px -190px;
    width: 30px;
    height: 30px;
  }
  .IconTextMiddleNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -180px -190px;
    width: 30px;
    height: 30px;
  }
  .IconTextNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -210px -190px;
    width: 30px;
    height: 30px;
  }
  .IconTextRightActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -240px 0px;
    width: 30px;
    height: 30px;
  }
  .IconTextRightHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -240px -30px;
    width: 30px;
    height: 30px; 
  }
  .IconTextRightNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -240px -60px;
    width: 30px;
    height: 30px;
  }
  .IconTextTopActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -240px -90px;
    width: 30px;
    height: 30px;
  }
  .IconTextTopHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -240px -120px;
    width: 30px;
    height: 30px;
  }
  .IconTextTopNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -240px -150px;
    width: 30px;
    height: 30px;
  }
  .IconTwoColumnsActive50 {
    background-image: url(../img/sprite-1.png);
    background-position: -50px -50px;
    width: 50px;
    height: 50px;
  }
  .IconTwoColumnsHover50 {
    background-image: url(../img/sprite-1.png);
    background-position: -100px 0px;
    width: 50px;
    height: 50px;
  }
  .IconTwoColumnsNormal50 {
    background-image: url(../img/sprite-1.png);
    background-position: -100px -50px;
    width: 50px;
    height: 50px;
  }
  .IconUnderlinedActive30 {
    background-image: url(../img/sprite-1.png);
    background-position: -60px -220px;
    width: 30px;
    height: 30px;
  }
  .IconUnderlinedHover30 {
    background-image: url(../img/sprite-1.png);
    background-position: -90px -220px;
    width: 30px;
    height: 30px;
  }
  .IconUnderlinedNormal30 {
    background-image: url(../img/sprite-1.png);
    background-position: -120px -220px;
    width: 30px;
    height: 30px;
  }
  
//sprite-2
.IconBackHover {
  background-image: url(../img/sprite-2.png);
  background-position: 0px 0px;
  width: 50px;
  height: 50px;
}
.IconBackNormal {
  background-image: url(../img/sprite-2.png);
  background-position: -50px 0px;
  width: 50px;
  height: 50px;
}
.IconCardOfModelActive {
  background-image: url(../img/sprite-2.png);
  background-position: 0px -50px;
  width: 50px;
  height: 50px;
}
.IconCardOfModelHover {
  background-image: url(../img/sprite-2.png);
  background-position: -50px -50px;
  width: 50px;
  height: 50px;
}
.IconCardOfModelNormal {
  background-image: url(../img/sprite-2.png);
  background-position: -100px 0px;
  width: 50px;
  height: 50px;
}

//ICON METAMODEL END

/*****Fonts******/
    @font-face {
        font-family: 'Open Sans Condensed';
        src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url('../fonts/opensanscondlight.woff2') format('woff2'), url('../fonts/opensanscondlight.woff') format('woff'), url('../fonts/opensanscondlight.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Open Sans Condensed';
        src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'), url('../fonts/opensanscondlightitalic.woff2') format('woff2'), url('../fonts/opensanscondlightitalic.woff') format('woff'), url('../fonts/opensanscondlightitalic.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Open Sans Condensed';
        src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url('../fonts/opensanscondensedbold.woff2') format('woff2'), url('../fonts/opensanscondensedbold.woff') format('woff'), url('../fonts/opensanscondensedbold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Fira Sans Light';
        src: local('Fira Sans Light'), local('FiraSans-Light'), url('../fonts/firasanslight.woff2') format('woff2'), url('../fonts/firasanslight.woff') format('woff'), url('../fonts/firasanslight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: 'Fira Sans';
        src: local('Fira Sans'), local('FiraSans-Regular'), url('../fonts/firasans.woff2') format('woff2'), url('../fonts/firasans.woff') format('woff'), url('../fonts/firasans.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Fira Sans Bold';
        src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('../fonts/firasansbold.woff2') format('woff2'), url('../fonts/firasansbold.woff') format('woff'), url('../fonts/firasansbold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
/*****EndFonts******/

  

main = #2d3b50;
blue = #26abe2;
dark-blue = #2d3b50;
grey-light = #eef1f7;

.blue-text{
  color blue
}

body{
 font-family: 'Fira Sans', sans-serif;
 background-color: #EEF1F7;
 color #2d3b50
}
.displaynone{
  display none!important
}

.hide{
  display none
}

.displayblock{
  display block!important
}
a:hover{
  text-decoration none
}
.bgwhite{
  background white
  border 1px solid #E2DCDC
}
.bold{
  font-weight 600
}
.fz11{
  font-size 11px!important
}
.fz12{
  font-size 12px!important
}
.fz14{
  font-size 14px!important
}
.fz18{
  font-size 18px!important
}
.fz10{
  font-size 10px!important
}
.fz30{
  font-size 30px!important
}
.fz36{
  font-size 36px!important
}
.fz20{
  font-size 20px!important
}

.fw600{
  font-weight 600
}

.fw300{
  font-weight 300
}

.boldfont{
  font-family boldfont
}

.flex{
  display flex
  justify-content center
  align-items center
}

.flex-start{
  display flex
  justify-content: flex-start;
  align-items center
}

.p60{
  padding 60px
}

.tal{
  text-align left!important
}

.dib{
  display inline-block
}

.w100per{
  width 100%
}


/* ##### Margins ##### */
.m25_0{
  margin 25px 0px
}

.mr20{
  margin-right 20px
}

.mr25{
  margin-right 25px
}

.mb40{
  margin-bottom 40px
}
.mt20{
  margin-top 20px
}
.mt40{
  margin-top 40px
}
.mt85{
  margin-top 85px
}
.ml-50{
  margin-left -50px
}
/* ##### Margins ##### */
.w60per{
  width 60%
}
.w80per{
  width 80%
}
.w100per{
  width 100%
}
.col-md-1{
  width 6%
}
.col-md-11{
  width 94%
}
.circle-button{
  margin-right 30px
  @extend .flex
  a{
    display inline-block
  }
}
.breadcrumb-button{
  @extend .flex
  padding 10px
  a{
    display block
  }
  background grey-light
  
}

.head {
  height 70px
  background #364760
  @extend .flex
  justify-content: space-between;
  position fixed 
  top 0
  left 0
  width 100%
  z-index 2000
  &-left {
  
  }
  &-brand {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 20px;
  }
  &-right {
    @extend .flex
  }
  &-right-name {
    color white
  }
  &-right-avatar {
    margin 0 20px
    width 50px
    height 50px
    border-radius 50%
    position relative
    &:hover{
      cursor pointer
    }
    &-menu{
      position absolute
      background: #008000;
      padding: 5px 10px;
      width: 145px;
      left: -75px;
      top: 60px;
      display none
      a{
        color white
      }
    }
  }
  
}
.main-cont{
  margin-top 70px
}
.main-cont-left{
  background-image url(../img/bg.png)
  height 100vh
  position fixed
  @extend .flex
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  padding-top 20px
  z-index 200
  min-width 100px!important
}
.main-cont-right{
  padding-bottom 50px
}

.main-cont-right-wraper{
  padding-left 40px
}

/* ####### ACTIVE-ICON ######### */
.active-icon{
  .IconCatalogNormal54{
    @extend .IconCatalogActivel54
  }
  .IconHandbookNormal54{
     @extend .IconHandbookActive54
  }
  .IconMetamodelNorma54{
     @extend .IconMetamodelActive54
  }
  .IconEditNormal50{
  @extend .IconEditActive50
  }
  .IconDeleteNormal50{
    @extend .IconDeleteActive50
  }
  .IconPrintNormal50{
    @extend .IconPrintActive50
  }

  .IconSuggestionNormal30{
    @extend .IconSuggestionActive30
  }
  .IconHistoryNormal30{
    @extend .IconHistoryActive30
  }
  .IconCreateGroupNormal50{
    @extend .IconCreateGroupActive50
  }
  .IconCreateServiceNormal50{
    @extend .IconCreateServiceActive50
  }
  .IconHierarchyNormal50{
    @extend .IconHierarchyActive50
  }
  .IconFlatTableNormal50{
    @extend .IconFlatTableActive50
  }
  
  .IconCopy30{
    @extend .IconCopyActive30
  }
  .IconCardOfModelNormal{
    @extend .IconCardOfModelActive
  }
  
}



/* ####### ACTIVE-ICON ######### */

.always-activePrint{
    background-image: url(../img/sprite.png)!important;
    background-position: -200px -262px;
    width: 50px;
    height: 50px;
  }
.always-activeAdd{
    background-image: url(../img/sprite.png);
    background-position: -100px -262px;
    width: 50px;
    height: 50px
  }
.main-cont-left-icon{
      display inline-block
      margin: 0 auto;
      display block
      color white
  }

.IconCatalogNormal54:hover{
   @extend .IconCatalogHover54
}
.IconHandbookNormal54:hover{
   @extend .IconHandbookHover54
}
.IconMetamodelNorma54:hover{
   @extend .IconMetamodelHover54
}

.IconEditNormal50:hover{
  @extend .IconEditHover50
}
.IconDeleteNormal50:hover{
  @extend .IconDeleteHover50
}
.IconPrintNormal50:hover{
  @extend .IconPrintHover50
} 
.IconSuggestionNormal30:hover{
  @extend .IconSuggestionHover30
} 
.IconHistoryNormal30:hover{
  @extend .IconHistoryHover30
} 
.IconCreateGroupNormal50:hover{
  @extend .IconCreateGroupHover50
}
.IconCreateServiceNormal50:hover{
  @extend .IconCreateServiceHover50
}
.IconHierarchyNormal50:hover{
  @extend .IconHierarchyHover50
}
.IconFlatTableNormal50:hover{
  @extend .IconFlatTableHover50
}

.IconCardOfModelNormal:hover{
  @extend .IconCardOfModelHover
}
.IconBackNormal:hover{
  @extend .IconBackHover
}

.main-cont-left-block{
  color white
  width 100%
  text-align center
  font-size 10px
  border-bottom 1px solid grey
  padding-bottom 10px
  margin-bottom 10px
  position relative
  &:hover{
    color grey
    a{
        display block!important
      }
  }
  .main-cont-left-block-hoverMenu{
    position absolute
    left 73px 
    top -10px 
    background-image: url("../img/bg.png");
    z-index: 5000;
    width: 230px;
    &:hover{
        display block!important
    }
    a{
      color white
      text-align left
      display inline-block
      padding 8px 20px
      padding-left 40px
      float left
      display none
      &:hover{
        color #719021
      }
    }
  }
}

.breadcrumb{
  padding-left 50px
  background white
  min-height 50px
  margin-bottom 0
  color main
  flex-wrap wrap
  a{
    color main
    
    &:hover{
      color blue
    }
  }
  .active{
    color main 
    font-weight 700
  }
  li{
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}

.breadcrumb>li+li:before{
  color main
  font-weight 400!important
}

.btn-primary{
  background blue
  border 0px
  padding 12px
}
.btn-success{
  border 0px
  padding 12px
}

.btn-danger{
  background #e74e40
  border 0px
  padding 12px
  color white
  :hover{
    color white!important
    background #e74e40 
  }
}

p{
  font-family Fira Sans Light
}

.first-col-bold{
  tr{
    td{
      &:nth-child(1){
        font-weight 600!important
      }
    }
  }
}

.border-around{
  border-left 1px solid #ddd
  border-right 1px solid #ddd
  border-bottom 1px solid #ddd
}

.page-card-datatable{
  thead{
    border-top 1px solid #ddd
    background: #2d3b50;
    color: white;
  }
}


.pagination{
  a{
    margin-right 10px
    color grey!important
    &:hover, &:active{
      background #e8eef2
      border 1px solid grey
    }
  }
  .active{
    a{
      background #e8eef2
      border 1px solid grey
      &:hover, &:active{
        background #e8eef2
        border 1px solid grey
      }
    }
  }
}

.page-card-datatable{
  tr{
    td{
      &:nth-child(1){
        color blue
        @extend .flex
        align-items: flex-start;
      }
      input{
        width 50px
      }
    }
  }
  a{
    font-weight 300
    color blue
  }
  
}
.dataTables_wrapper{
  .form-control {
    margin-bottom 0!important
  }
  input[type="search"]{
    margin-bottom 0!important
  }
}
.main-cont-right-breadcrumb{
  margin-left -50px
  &-leftpart{
     
  }
  &-rightpart{
    @extend .flex
    margin-right -15px
    .active-icon{
      background green
      position relative
      z-index 100
      &:before{
        content ''
        width 10px
        height 10px
        position absolute
        bottom -5px
        left 20px
        background green
        transform rotate(45deg)
      }
    }
  }
}

.form-control{
  border-radius 0px
  margin-bottom 15px
  box-shadow 0 0 0
  border 1px solid #E4E3E3
}

.inline-input-row{
  display flex
  justify-content: flex-start;
  align-items: flex-start;
  input[type="checkbox"]{
    margin-right 10px 
    
  }
  padding 10px 0px
  label{
    font-weight 300
  }
}

.inline-input-row-datepick{
  display flex
  justify-content: flex-start;
  align-items: center;
  margin-left 30px
  margin-bottom 5px
  input[type="checkbox"]{
    margin-right 10px 
    margin-top 0px
  }
  label{
    display inline-block
    margin 0 5px
    &:nth-child(1){
      margin-left 0px
    }
    font-weight 300
  }
  select{
    width 55px
    height 25px
    padding 0px 5px!important
    border-radius 3px
    margin-bottom 0px
  }
  &-date{
    margin-left 0px!important
    width 30px
  }
  .form-control{
    width 80px
    border-radius 5px
    margin 0 10px
    margin-bottom 0
    text-align center
    position relative
  }
}

.group-date-select{
  margin-bottom 30px
}

.inline-input-row-radio{
  height 20px
  display flex
  justify-content: flex-start;
  align-items: center;
  input[type="radio"]{
    margin-right 10px 
    margin-top 0px
  }
  label{
    display inline-block
    margin 0 15px
    &:nth-child(1){
      margin-left 0px
    }
  }
  margin 30px 0 
}

.rightpart-table {
  th{
    font-weight 300
  }
  thead{
    background #8898b1
    border-bottom 0px!important
  }
  &-head {
    height 60px
    display flex
    justify-content: flex-start;
    align-items: center;
    padding-left 20px
    background white
  }
  &-head-icon {
    margin-right 10px
  }
  &-head-text {
    margin-top 10px
    color blue
  }
  a{
    color blue
    font-weight 300
  }
  tr{
    font-size 10px
  }
}

.main-cont-right-wraper-right{
  background white
}

.main-cont-right-wraper-left{
  padding-right 40px
}

.row-flex{
  display: flex;
  flex-flow: row wrap;
}

.main-cont-right-wraper-right{
  background white
  padding 0
  margin-bottom -50px
}

.disable-inline-input-row{
  color #DCD4D4!important
  *{
    color #DCD4D4!important
  }
}

.serch-line{
  input{
    width 400px
    margin-right 30px
    margin-bottom 0px
  }
  button{
    padding 8px 25px
  }
}

.row-catalog-date-pick{
  margin 25px 0 
  .row{
    background: white;
    margin-left: -55px;
    padding 20px
    padding-left: 55px;
  }
}

.row-catalog-date-pick-last-column{
   button{
    margin-left 230px
   }
 
}

.template-nav{
  a{
    margin-right 20px
    color #607594
  }
}

.jstree-anchor{
  white-space: normal;
}

.table-tree{
  table{
    margin-top 10px
  }
  thead{
    background: #364760;
    color: white;
    
  }
}
.jstree-default .jstree-anchor{
  height auto
  background white
  width: 98%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom 2px
  border 1px solid #DADADA
}

.check-box-list{
  .inline-input-row{
    padding-bottom 0
    padding-top 5px
  }
}


.chosen-container{
  display block
  margin 10px 0
  margin-bottom 20px
  width 100%
}

.glyphicon-chevron-up{
    display: inline-block;
    width: 30px;
    height: 30px!important;
    line-height: 30px!important;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 4px;
}

// .table-condensed{
//   background red!important 
//   span, a{
//     height 25px !important
//   }
// }

.bootstrap-datetimepicker-widget a[data-action]{
  padding 0 !important
}

.metamodel-configBase{
  background white
  padding 20px
  margin-right 40px
}

.methamodel-head{
  @extend .flex
  align-items: flex-start;
  justify-content: flex-start;
}
.methamodel-head-item {
  
  &-textPush {
    width 200px
    height 130px
    @extend .flex
    flex-flow column
    align-items: flex-start;
    border-right 1px solid #E2DCDC
    &-block {
      @extend .flex
      margin 5px 0
      &:hover{
        cursor pointer
      }
    }
  }
  &-textFont {
    width 225px
    border-right 1px solid #E2DCDC
    height 130px
    padding 10px
    &-fontRow{
      @extend .flex
      justify-content: space-between;
      select:nth-child(1){
        width 130px
      }
      select:nth-child(2){
        width 65px
      }
    }
    &-typeRow{
      .circle-button{
        margin-right 0
      }
      @extend .flex
      justify-content: space-between;
    }
  }
  &-textAlign {
    padding 10px
    width 150px
    border-right 1px solid #E2DCDC
    height 130px
    .circle-button{
        margin-right 0
      }
    &-vertRow{
       @extend .flex
       justify-content: space-between;
    }
    &-horRow{
      margin-top 20px
      @extend .flex 
      justify-content: space-between;
    }
    
   
  }
  &-figure {
    *{
      box-sizing border-box
    }
    padding 10px
    height 130px
    width 390px
    @extend .flex
    justify-content: space-between;
    flex-wrap wrap
    &-block{
      width 180px
      position relative
      &:hover{
        cursor pointer
      }
    }
    &-block-cont{
      @extend .flex
      width 160px
      justify-content: space-around;
      margin-right 10px
    }
  }
} 

iconWork(name,num){
  .{name}{num}:hover{
   @extend .{name}Hover{num}
  }
  .active-icon{
    .{name}{num}{
      @extend .{name}Active{num}
    }
  }
}

iconWorkNormal(name,num){
  .{name}Normal{num}:hover{
   @extend .{name}Hover{num}
  }
  .active-icon{
    .{name}Normal{num}{
      @extend .{name}Active{num}
    }
  }
}

iconWork(IconCut,30);    
iconWork(IconPaste,30); 
iconWork(IconOneColumn,50); 
iconWorkNormal(IconTwoColumns,50); 
   
iconWorkNormal(IconBold,30);  
iconWorkNormal(IconCursive,30);  
iconWorkNormal(IconUnderlined,30);  
iconWorkNormal(IconTextTop,30);  
iconWorkNormal(IconTextMiddle,30);  
iconWorkNormal(IconTextBottom,30);  
iconWorkNormal(IconTextLeft,30);  
iconWorkNormal(IconTextCenter,30);  
iconWorkNormal(IconTextRight,30);
iconWorkNormal(IconFigure,30);
iconWorkNormal(IconConnectingLine,30);
iconWorkNormal(IconColorText,30);
iconWorkNormal(IconFill,30);
iconWorkNormal(IconColorLine,30);

.methamodel-head{
  border-bottom 1px solid #E2DCDC

}
.methamodel-content-left{
  border-right 1px solid #E2DCDC
  height 600px
}

.methamodel-content-accordion{
  margin-top 20px
}

.methamodel-content-right{
  background white
  height 600px
}

.figure-dropblock{
  width 100%
  height 200px
  background white
  position absolute
  z-index 100
  border 1px solid #E2DCDC
}


  
  
.methamodel-head-item-figure-block-cont{
  position relative
  padding-right: 20px
  &:before{
    content ''
    position absolute
    right 0
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #364760;
    top 12px
  }
}

.methamodel-head-item-textFont-typeRow-colors{
  position relative
  padding-right: 10px
  &:before{
    content ''
    position absolute
    right 3px
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #364760;
    top 12px
  }
  .figure-dropblock{
    width: 100%;
    height: 200px;
    background: #fff;
    position: absolute;
    z-index: 100;
    border: 1px solid #e2dcdc;
    top: 30px;
    right: 0px;
  }
}

.row-catalog-date-pick-toggle-filter{
  display none
}

.row-catalog-date-pick-toggle{
  position relative
  background #26ABE2!important
  &:hover{
    &:before{
     background #26ABE2!important
    }
  }
  
}
.main-cont-right-breadcrumb-leftpart{
  width 100%
}
.main-cont-right-breadcrumb-rightpart{
  position relative
  margin-right 0px
}
.hidden-table-toggle{
  position: absolute;
  bottom: 0px;
  top: 50px;
  right: 0px;
  width: 400px;
  min-height: 700px;
  z-index: 1000;
  background: white;
}

.tree{
  width 100%
  input[type=checkbox]{
    margin-right 10px
  }
  table{
    width 90%
    margin-bottom 0
  }
}
.tree-head{
  padding: 10px;
  display: block;
  color: #fff; 
  background: #364760; 
  width: 100%;
  border-top: 1px solid #eef1f7;
  border: 1px solid #DEE0E4;
  margin-bottom: 3px;
  border-radius: 5px;
}

.treegrid-expander{
  margin-right 10px
}

.filter-color{
  background #449d44!important
  &:hover{
    &:before{
      background #449d44!important
    }
  }
  &:before{
    content ''
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -5px;
    left: 95px 
    background #449d44
    transform rotate(45deg)
  }
}

.right-slidePanel{
  position: absolute;
  width: 50% ;
  background: white;
  right: 0px;
  top: 0px;
  z-index: 5000;
  padding: 30px;
  height: 100%; 
  display:none;
  overflow hidden
  border-left: 1px solid #ddd;
  table{
    background #EEF1F7
  }
  td{
    border: 1px solid #ddd;
  }
  tr{
    td:nth-child(1){
      font-weight 600
    }
  }
}

.right-slidePanel-head{
  display flex;
  align-items center
  p{
    margin 0
  }
  margin-bottom 30px
}
.IconBackNormal{
  transform: rotate(180deg);
}

.field-validation-valid
{
    display: none!important;
}
.validation-summary-valid
{
    display: none!important;
}

.tree-toggle-classTable{
  background #82B440!important
}
// .tree{

//   .treegrid-indent,
//   .treegrid-expander{
//     display none 
//   }
//   .glyphicon{
//     display inline-block
//   }
//   table{
//     width 100%
//   }
// }
